body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ABA8E0;
    color: #1C1694;
}

h1, h2, h3, h4, h5, h6 {
font-family: "montserrat" ;
text-align: center;

}

h1 {font-size: 40px;}

header {
    text-align: center;
}


h2 {margin-bottom: .1em;}

/*hero Section*/

#hero,footer {text-align: center;
background-color: #E4A2A3;
padding: 20px;
border:2px solid purple}

#hero img{
    width: 400px;
}

/*Bio Section*/

#bio {text-align: center;}

/*Hobbies Section*/

#hobbies {list-style-type:upper-roman; color: black;
    display: flex; 
    flex-direction: column; 
    align-items: center; }

/*Gallery Section*/

#gallery {
    border: 2px solid navy;
    background-color: lightblue;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
    text-align: left;
}

#gallery figure {text-align: center;}

/*literature*/

#lit {border: 2px solid yellowgreen;
    margin-bottom: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lit div { padding: 2rem;
    max-width: 40rem;
    margin: auto;
    float:left;
    padding: 2rem;


}

#lit div p {
padding: 0.3rem 0;
clear: both;

}

/*dropcaps*/

#lit div p:nth-child(3n+1): first ::first-letter {

}


/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;


    }
    
}
    
figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}



